*{
    box-sizing: border-box;
    
}
body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 10px;
    
}
p{
    text-align: left;
    
}
img{
    border-radius: 50%;
    border-style: groove;
}
div.content{
    overflow: scroll;
    height: 1100px;
}
header{
    text-align: center;
    background-color: antiquewhite;
    padding: 5px;
    font-size: 18px;
    color:black;
    margin: 0px;
 

}

#intro{
    text-align: center;
}

p{
    text-align: left;
}
#qualification{
    text-align: left;
 
}
aside{
    float: left;
    width: 20%;
    height: 1000px;
    background-color: rgb(178, 208, 234);
    padding: 15px;
    border: 20px;
    border-style: groove;
   
   
}

aside li{
    
    list-style-type:none;
    padding: 0;
    
}
a{
    color: green;
}
a:hover{
    color: red;
}
a:visited{
    color: purple;
}
a:active{
    color: brown;
}
h3{
    border-bottom: 5px;
    color: #000;
    border-style: outset;
} 
section{
    margin: 5px;
    border-style: groove;
   
}  
body{
    border-style: groove;
} 
article{
    float: right;
    padding: 10px;
    width:80%;
    height:1000px;
    background-color: rgb(211, 166, 210);
    border-style: groove;
    
    

}
section::after{
  content: "";
  display: table;
  clear: both;
}
footer{

    padding:10px;
    text-align: center;
    background-color: gainsboro;
    margin: 0px;
    
}
@media(max-width:600px){
    nav, article {
        width: 100%;
        height:auto
    }
}